<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <div class="card container-fluid">
                    <img class="img-fluid" src="./images/location-pin.jpg" class="card-img-top" alt="A Location Pin">
                    <div class="card-body">
                        <h5 class="card-title">Know Your Location</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos
                            voluptate odit expedita ad exercitationem. Molestias dolore officia sapiente mollitia
                            necessitatibus natus eveniet reprehenderit nesciunt. Inventore pariatur quam enim ipsam?</p>
                        <a href="/locguide" class="btn btn-primary">GO !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <div class="card container-fluid">
                    <img class="img-fluid" src="./images/rent.jpg" class="card-img-top" alt="A House for rent">
                    <div class="card-body">
                        <h5 class="card-title">Rent a House</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos
                            voluptate odit expedita ad exercitationem. Molestias dolore officia sapiente mollitia
                            necessitatibus natus eveniet reprehenderit nesciunt. Inventore pariatur quam enim ipsam?</p>
                        <a href="/houserent" class="btn btn-primary">I'M IN !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <%- include ("./partials/footer.ejs")%>