<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Location Form</title>
</head>
<body>
    <h3>Detect Current Location</h3><br><button id='detect' onclick="getLocation()">Check</button>
    <p id="demo"></p> 
    <h2>Enter Address</h2>
    <form action="locguide/maps/" method="POST">
        <label for="pin">Pincode: </label><br>
        <input type="text" id="pin" name="pin" value=""><br>
        <label for="area">Area: </label><br>
        <input type="text" id="area" name="area" value=""><br>
        <input type="submit" value="Submit">
    </form>
    


    <script src="/scripts/locguide.js"></script>
</body>
</html>