<%- include ("./partials/header.ejs")%>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <div class="mb-3">
        <h3>Detect Current Location</h3>
        <button id='detect' onclick="getLocation()">Check</button>
        <p id="demo"></p>
    </div>
    <h2>Enter Address</h2>
    <form action="locguide/maps/" method="POST">
        <label for="pin">Pincode: </label><br>
        <input type="text" id="pin" name="pin" value=""><br>
    </form>
    ------------OR------------
    <form action="">
        <label for="area">Area: </label><br>
        <input type="text" id="area" name="area" value=""><br>
    </form>

    <script src="/scripts/locguide.js"></script>